# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
  # Watch nix submodules
  watch_file nix/devenv.nix
  # Use nix flakes to setup the environment
  use flake . --no-pure-eval --accept-flake-config
fi

# Set default Google Cloud project and region if not already set
if [ -z "$GOOGLE_CLOUD_PROJECT" ]; then
  export GOOGLE_CLOUD_PROJECT="shikanime-studio-labs"
fi

if [ -z "$GOOGLE_CLOUD_REGION" ]; then
  export GOOGLE_CLOUD_REGION="europe-west9"
fi
