apiVersion: v1
kind: Namespace
metadata:
  name: infinity-horizons
---
apiVersion: v1
kind: Secret
metadata:
  name: discord
  namespace: infinity-horizons
type: Opaque
data:
  token: ${base64encode(discord_token)}
